h4{
    color: white;
}
.customOverlay {
    background: rgba(0, 0, 0, 1) !important;
    opacity: 0.8 !important;

  }
  .customModal {
    background: transparent !important;
    max-width: 500px;
    width: 100%;
  }
  
  .viewTitle{
    color: white;
  }
.page-left{
    background: linear-gradient(270deg, #B3B3B3 0%, #DADADA 9%, #DBDBDB 20%, #E4E4E4 27%, #F0F0F0 40%, #F4F4F4 53%, #F0F0F0 100%);
min-height: 650px;
}
.page-right{
    background: linear-gradient(90deg, #A1A1A1 0%, #DADADA 2%, #E4E4E4 9%, #F0F0F0 22%, #F4F4F4 35%, #F0F0F0 100%);
}