.section-faq {


    background-color: #ffffff;
    border-radius: 16px;

    .header-faq {
       
        float: right;
    }
    .header-faq,button {
        margin-top: -3px;
    }
   

    .card-header-faq {
        background-color: white;
    }
}